.toDo__card {
  width: 100%;
  word-break: break-word;
  position: relative;
  &:not(:last-child) {
    border-bottom: 1px solid black;
  }
  &__title {
    font-size: 30px;
    margin: 20px;
    overflow: hidden;
    max-width: calc(100% - 140px);
  }
  &__text {
    font-size: 20px;
    margin: 20px;
    overflow: hidden;
    max-width: calc(100% - 140px);
  }
  &__button {
    margin-left: auto;
  }
  &__delete {
    display: none;
    position: absolute;
    right: 20px;
    top: -5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(../../../assets/images/icons8-trash.svg);
  }
  &__edit {
    display: none;
    position: absolute;
    right: 64px;
    top: -5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(../../../assets/images/icons8-edit.svg);
  }
  &:hover {
    & .toDo__card__delete {
      display: block;
    }
    & .toDo__card__edit {
      display: block;
    }
  }
}